<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="Culture" value="en-US"></add>
    <add key="SiteUrl" value="http://localhost:55622/"></add>
    <add key="Theme" value="Default"></add>
    <!--<add key="ErrorEmail" value="pm2@tatvasoft.com"/>-->
    <add key="ErrorEmail" value="darshit.babariya@server1.com"/>
    <add key="ShareEmail" value="techtrack@ovationevents.com"></add>
    <add key="FromEmail" value="mengland@ovationevents.com"></add>
    <add key="AdminEmail" value="mengland@ovationevents.com"></add>
    <add key="SMTPEmail" value="nitin.vijay@server1.com"></add>
    <add key="Password" value="nitin"/>
    <add key="SMTPHostName" value="192.168.0.6"/>
    <add key="Port" value="25"/>
    <add key="CC" value="darshit.babariya@server1.com"></add>
    <add key="BCC" value="nitin.vijay@server1.com"></add>
    <add key="ValidEmail" value="^([A-Za-z0-9_\-\.\'])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,6})$"></add>
    <add key="ValidPhoto" value="^.*\.((j|J)(p|P)(e|E)?(g|G)|(g|G)(i|I)(f|F)|(p|P)(n|N)(g|G)|(b|B)(m|M)(p|P))$"></add>
    <add key="ValidFile" value="^.*\.(jpg|JPG|gif|GIF|doc|DOC|pdf|PDF|txt|TXT|Docx|DOCX)$"></add>
    <add key="ValidDocument" value="^.*\.(doc|DOC|pdf|PDF|txt|TXT|Docx|DOCX)$"></add>
    <add key="ValidPDF" value="^.*\.(pdf|PDF)$"></add>
    <add key="PageSize" value="25"></add>
    <add key="TechnicianPhotoBasePath" value="Photo" ></add>
    <add key="TechniciantempPhotoBasePath" value="tempPhoto" ></add>
    <add key="TechnicianResumeBasePath" value="Resume" ></add>
    <add key="TechniciantempResumeBasePath" value="tempResume" ></add>
    <add key="AccountPhotoBasePath" value="Photo" ></add>
    <add key="TechnicianDocsBasePath" value="Docs" ></add>
    <add key="TechniciantempDocsBasePath" value="tempDocs" ></add>
    <add key="DiscussionDocsBasePath" value="DiscussionDocs"/>

    <add key="NewAppEmail" value="darshit.babariya@server1.com" ></add>
    <add key ="fromEmails" value="mengland@ovationevents.com,techtrack@ovationevents.com,sgash@ovationevents.com,noreply@ovationevents.com"/>
    <!--<add key="NewAppEmail" value="ppenuel@ovationevents.com" ></add>-->
  </appSettings>
  <dataConfiguration defaultDatabase="Connectionstr"/>
  <connectionStrings>
    <add name="Connectionstr" connectionString="Server=ODDEVEN-PC;Database=TechTrack;User ID=sa;Password=abc@123.com;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://192.168.0.251:8080" />
    </defaultProxy>
  </system.net>
  <system.web>

    <httpRuntime maxRequestLength="250000" requestValidationMode="2.0" />
    <!--<globalization culture="en-US" uiCulture="en-US"/>-->
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

       
        -->
    
    <customErrors mode="Off">
      <!--<error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />-->
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" enableViewState="true" theme="Default"  validateRequest="false" enableEventValidation="false" autoEventWireup="true">

      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="uc" src="~/UserControls/MessageBox.ascx" tagName="MessageBox" />
        <add tagPrefix="uc" src="~/UserControls/DataPager.ascx" tagName="DataPager" />
        <add tagPrefix="uc" src="~/UserControls/SliderBar.ascx" tagName="SliderBar" />
        <add tagPrefix="uc" src="~/UserControls/Calender.ascx" tagName="Calender" />
        <add tagPrefix="uc" src="~/UserControls/References.ascx" tagName="TReference" />
        <add tagPrefix="uc" src="~/UserControls/TechLinks.ascx" tagName="TechLinks" />
        <add namespace="ExtendedControls" assembly="ExtendedControls" tagPrefix="ExtendedLabel" />
        <!--<%@ Register="" Namespace="ExtendedControls"  TagPrefix="ExtendedLabel" Assembly="ExtendedControls" %>-->
      </controls>
    </pages>
    <sessionState timeout="60"></sessionState>
  </system.web>

  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>